.formJualBeli {
  box-shadow: 0 0 8px 2px #888;
  background: white;
  margin-top: 33%;
}

.heroes {
  position: absolute;
  z-index: -1;
}

.merek:hover {
  background: #398AB9;
  cursor: pointer;
}

.caraKerja{
	background: #1C658C;
}

.caraKerjaText{
	color: white;
}

.caraKerjaIcon{
	width: 130px;
	height: 130px;
}

.circleBackgorund {
	border-radius: 50%;
    width: 150px;
    height: 150px; 
    background: #EEEEEE;
}

.lihatBanyakMobil:hover {
  cursor: pointer;
}

.btnBeranda{
  background: #1C658C;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  color: #FFFFFF;
}

.btnBeranda:hover{
  color: black;
}

.btnCaraKerja {
  background: #398AB9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  color: #FFFFFF;
}
.btnCaraKerja:hover{
  background: #FFFFFF;
  color: black;
}

.btnCaraKerjaActive {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  color: black;
}

.btnCaraKerjaActive:hover{
  background: #FFFFFF;
  color: black;
}


.circle {
  background: #EEEEEE;
}

.lihatLebihBanyak{
  background: #1C658C;
}